<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>552561908955-kh9f43hefos1ijdb80o4rca15vnsgimo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.552561908955-kh9f43hefos1ijdb80o4rca15vnsgimo</string>
	<key>API_KEY</key>
	<string>AIzaSyCV9Ug8nHtKPTrQ3U27tVqtTqkXIfInZtw</string>
	<key>GCM_SENDER_ID</key>
	<string>552561908955</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.FinalFitnessApp</string>
	<key>PROJECT_ID</key>
	<string>project3-e5842</string>
	<key>STORAGE_BUCKET</key>
	<string>project3-e5842.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:552561908955:ios:561522d461dc95f6</string>
	<key>DATABASE_URL</key>
	<string>https://project3-e5842.firebaseio.com</string>
</dict>
</plist>